.loginContainer {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/Login_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: calc(100vh - 51px); */
    margin-top: 51px;
    overflow-y: scroll;
}

.loginContent {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.loginCenter {
    width: 360px;
    background: rgba(0, 0, 0, 0.79);
    backdrop-filter: blur(9px);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 72px 82px 54px 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginCenterWelcomeText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.165px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.loginInput {
    width: 327px;
    height: 58px;
    background: #FFFFFF;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 18px;
    padding-left: 22px;
    outline-width: 0px;
    margin-bottom: 20px;
}

.loginInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
.loginInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
.loginInput::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.loginCenterRememberWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
}

.loginCenterRememberMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.loginCenterRememberMeText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.165px;
    color: #FFFFFF;
    margin-left: 9px;
}

.rememberMeInput {
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 9px;
}

.loginCenterForgotPassword {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.165px;
    color: #FFFFFF;
    cursor: pointer;
}

.loginButton {
    background-color: #E83A1F;
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}

.loginTermsText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    color: #FFFFFF;
    margin-top: 35px;
}

.loginTermsLabel {
    color: #E83A1F;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.googleButton {
    width: 100%;
    height: 58px;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-top: 21px;
}

.googleButtonIcon {
    background-image: url('../../assets/icons/googleButton.png');
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 18px;
}

.googleButtonText {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    text-transform: uppercase;
    color: #000000;
}

.appleButton {
    width: 100%;
    height: 58px;
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-top: 21px;
}

.appleButtonIcon {
    background-image: url('../../assets/icons/appleButton.png');
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 18px;
}

.appleButtonText {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    text-transform: uppercase;
    color: white;
}