.choicePlanItemWrapper {
    width: 302px;
    background: #FFFFFF;
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.choicePlanItemNumbOfWeeks {
    width: 100%;
    height: 69px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-sizing: border-box;
}

.choicePlanItemNumbOfWeeksLast {
    width: 100%;
    height: 69px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid #FF2200;
    border-bottom: 0px;
    box-sizing: border-box;
    position: relative;
}

.choicePlanItemNumbOfWeeksText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.choicePlanItemBody {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #000000;
    box-sizing: border-box;
    height: 436px;
}

.choicePlanItemBodyLast {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 436px;
    border: 7px solid;
    border-top: 0px;
    box-sizing: border-box;
    border-image-source: linear-gradient(162.88deg, #FF2200 0.67%, #FF9900 98.56%);
    border-image-slice: 1;
}

.choicePlanItemTitleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.choicePlanItemTitleText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: left;
    margin-top: 39px;
    margin-bottom: 22px;
}

.choicePlanItemTitleTextRecommended {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: left;
    margin-top: 14px;
    margin-bottom: 20px;
}

.choicePlanItemRecommendedWrapper {
    width: 298px;
    height: 39px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choicePlanItemRecommendedText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.choicePlanListItemWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.choicePlanListItemIcon {
    width: 14px;
    height: 12px;
    margin-right: 21px;
    margin-top: 2px;
}

.choicePlanListItemTitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
    text-align: left;
    margin-bottom: 15px;
}

.chiocePlanItemButton {
    height: 58px;
    background: #E83A1F;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chiocePlanItemButtonGradient {
    height: 58px;
    background: linear-gradient(162.88deg, #FF2200 0.67%, #FF9900 98.56%);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chiocePlanItemRecommendedIcon {
    background-image: url('../../assets/icons/icon_recommended.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 51px;
    width: 56px;
    position: absolute;
    top: 0px;
    right: 0px;
}