{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div style="display:block; margin:auto; max-width:500px; background:#f3f3f3; padding:60px 40px">
    <img style="dispaly:block; margin:auto;filter: invert(1);" src="https://cdn.shopify.com/s/files/1/0272/8699/4967/files/logo-white_02290e5c-db95-4c3f-bc9e-691cb23b69b2_180x.png?v=1591042376">
    <h2 style="margin-bottom:46px; margin-top:20px; text-align:center; font-weight:700">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" style="margin-top:40px;padding:10px 26px; height:50px; background:#f72d0d; color:white; border:none !important; font-weight:600" value="Change Password"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
